
.bg-navbar {
    background-color: #0277bd;
}

.bg-card {
    background-color: whitesmoke;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 18px;
    font-family: OpenSans-Bold;
    color: whitesmoke;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item:focus, .navbar-light .navbar-nav .nav-item:hover {
    color: #1b5a8d;
}

.banner_title {
    width: 100%;
    font-size: 35px;
    font-family: OpenSans-Bold;
    color: #444444;
    margin-left: 0px;
    text-align: center;
}

.banner_text {
    width: 100%;
    font-size: 25px;
    font-family: OpenSans-Light;
    color: #232323;
    margin-left: 0px;
    text-align: center;
}

.card_title {
    font-family: OpenSans-Bold;
    color: #01579b;
    text-align: center;
    font-weight: bolder;
}

.card_text {
    font-family: OpenSans-Light;
    font-size: 15px;
}
.tile {
    border: solid;
    border-width: 1px;
    background-color: #f7f6f6;
    font-size: 15px;
}
.tile-padding-8{
    padding-left: 7em;
    padding-right: 7em;
}

.table-map {
    color: #0277bd
}

.search-input {
    border-color: #0277bd;
    border-radius: 0px;
}

.search-button {
    background-color: white;
    color: #0277bd;
    border-color: #0277bd;
    border-radius: 0px;
    border-left: 0px;
}

.form-control .search-input:focus {
    border-color: #0277bd;
    border-radius: 0px;
}

.padding-25 {
    padding-left: 25em;
    padding-right: 25em;
}