
.bg-navbar {
    background-color: white;
    border-bottom: solid;
    border-width: thin;
    border-bottom-color: #0277bd;
}

.bg-card {
    background-color: whitesmoke;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 18px;
    font-family: SansSerif;
    font-weight: bold;
    color: #01579b;
    text-transform: uppercase;
}

.banner_title {
    width: 100%;
    font-size: 35px;
    font-family: SansSerif;
    font-weight: bold;
    color: #444444;
    margin-left: 0px;
    text-align: center;
}

.banner_text {
    width: 100%;
    font-size: 25px;
    font-family: SansSerif;
    color: #232323;
    margin-left: 0px;
    text-align: center;
}

.card_title {
    font-family: SansSerif;
    font-weight: bold;
    color: #01579b;
    text-align: center;
    font-weight: bolder;
}

.card_text {
    font-family: SansSerif;
    font-size: 15px;
}
.tile {
    border: solid;
    border-width: 1px;
    background-color: #f7f6f6;
    font-size: 15px;
}
.tile-padding-8{
    padding-left: 7em;
    padding-right: 7em;
}

.table-map {
    color: #0277bd
}

.search-input {
    border-color: #0277bd;
    border-radius: 0px;
}

.search-input:focus {
    border-color: #0277bd !important;
}

.search-button {
    background-color: white;
    color: #0277bd;
    border-color: #0277bd;
    border-radius: 0px;
    border-left: 0px;
}

.form-control .search-input:focus {
    border-color: #0277bd;
    border-radius: 0px;
}

.padding-25 {
    padding-left: 25em;
    padding-right: 25em;
}

.bottom-line {
    border-bottom:solid; 
    border-width:thin; 
    border-bottom-color: #0277bd;
    padding-top: 2em;
}

.home-tile {
    border: solid;
    border-width: 0.25pt;
    border-color: #d5d0d0;
    box-shadow: 0px 6px 6px #d5d0d0;
}
.home-tile-text {
    font-family: SansSerif;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}

.home-tile-more {
    font-family: SansSerif;
    font-weight: bold;
    font-size: 20px;
}

.btn-filter-default {
    border: solid !important;
    border-width: thin !important;
    border-color: #64b5f6 !important;
    color: #64b5f6 !important;
}

.btn-filter-active {
    background-color: #64b5f6 !important;
    color: white !important;
}

.btn-red {
    background-color: #e57373 !important;
    color: white !important;
}

.tile-product {
    display: inline-block;
    border-radius: 5px;
    background-color: #64b5f6;
    padding: 1em;
    margin-top: 5px;
    color: white;
}

.tile-recipe-hdr {
    border: solid;
    border-width: thin;
    border-color: #64b5f6;
    color: #64b5f6;
}

.footer {
    background-color: white;
    text-align: center;
    border-top: solid;
    border-width: thin;
    border-top-color: #0277bd;
}