@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Budget Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>

<body>
    <div class="container" style="margin-top:100px">
        <h1 class="card_title" style="font-weight: bold; color: #0277bd; font-size:35px">BUDGET CALCULATOR</h1>
        <center>
            <p style="font-size:18px;  font-weight:bold;">There are many simple and cheap recipes within your budget.</p>
        </center>
        <hr />
        <div class="col-md-8 offset-2">
            <div class="row justify-content-md-center py-1">
                <div class="col-md-4">
                    <label>Enter your Budget: </label>
                    <span>
                        <input class="custom-input" type="number" placeholder="$50" min="0" max="10000" step="1" value="" required="required" />
                    </span>
                </div>
                <div class="col-md-4">
                    <label>Enter Number of Days: </label>
                    <span>
                        <input class="custom-input" type="number" placeholder="3" min="0" max="7" step="1" value="" required="required" />
                    </span>
                </div>
            </div>
            <div class="row justify-content-md-center py-1">
                <label>How many meals do you want to eat per day? * </label>
            </div>
            <div class="row justify-content-md-center py-1">
                <div>
                    <button class="btn btn-filter-default">1</button>
                    <button class="btn btn-filter-default">2</button>
                    <button class="btn btn-filter-active">3</button>
                    <button class="btn btn-filter-default">4</button>
                    <button class="btn btn-filter-default">5</button>
                    <button class="btn btn-filter-default">6</button>
                </div>
            </div>
            <div class="row justify-content-md-center py-1">
                <label>What kind of meals do you prefer?</label>
                <p style="color: #bebebe; font-size: 10px;"> (optional)</p>
            </div>
            <div class="row justify-content-md-center py-1">
                <div class="categories">
                    <button class="btn btn-filter-default">Vegetarian</button>
                    <button class="btn btn-filter-active">Non-Vegetarian</button>
                    <button class="btn btn-filter-default">Both</button>
                </div>
            </div>
            <div class="row justify-content-md-center py-1">
                <label>Do you have any allergies?</label>
                <p style="color: #bebebe; font-size: 10px;"> (optional)</p>
            </div>
            <div class="row justify-content-md-center py-1">
                <select class="selectpicker" multiple="multiple" data-live-search="true">
                    <option value="">Artichokes</option>
                    <option value="">Garlic</option>
                    <option value="">Pork</option>
                </select>
            </div>
            <div class="row justify-content-md-center py-1">
                <span class="tile-product-red py-1" style="cursor:pointer; margin-left: 3px;">Artichokes</span>
                <span class="tile-product-red py-1" style="cursor:pointer; margin-left: 3px;">Garlic</span>
                <span class="tile-product-red py-1" style="cursor:pointer; margin-left: 3px;">Pork</span>
            </div>
            <div class="row justify-content-md-center py-2">
                <button class="btn btn-filter-active" style="border-radius: 0px; font-weight: bold;">GO!</button>
            </div>
        </div>
        <br/>
        <div id="accordion">
            <div class="card">
                <div class="card-header tile-recipe-bg">
                    <h4 class="panel-title" style="text-align: center;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="color: #0277bd;">Day 1
                            <i class="fas fa-caret-up" style="color:#0277bd;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body col-md-12">
                        <h4 class="panel-title" style="color: #0277bd;">1. Beef Sauted with Rice</h4>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <img src="https://images.media-allrecipes.com/userphotos/560x315/970813.jpg" style="max-width:250px;max-height:250px" />
                            </div>
                            <div class="col-md-8" style="text-align: center;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p style="color: #0277bd;">Servings</p>
                                        <p style="color: #0277bd; font-weight:bold;">2</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color: #0277bd;">Preparation Time</p>
                                        <p style="color: #0277bd; font-weight:bold;">40 minutes</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color: #0277bd;">Cost</p>
                                        <p style="color: #0277bd; font-weight:bold;">$ 8</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row col-md-10 offset-1">
                            <div class="col-md-5">
                                <h4 class="panel-title" style="color: #0277bd;">Ingredients</h4>
                                <label style="color: #0277bd;">| Beef</label><br />
                                <label style="color: #0277bd;">| Tomato</label><br />
                                <label style="color: #0277bd;">| Onion</label><br />
                                <label style="color: #0277bd;">| Vinegar</label><br />
                                <label style="color: #0277bd;">| Rice</label><br />
                            </div>
                            <div class="col-md-5">
                                <h4 class="panel-title" style="color: #0277bd;">Directions</h4>
                                <label style="color: #0277bd;">| </label><br />
                                <label style="color: #0277bd;">| </label><br />
                                <label style="color: #0277bd;">| </label><br />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body col-md-12">
                        <h4 class="panel-title" style="color: #0277bd;">2. Roasted Beef</h4>
                        <div class="row col-md-12">
                            SAME AS ABOVE
                        </div>
                    </div>
                    <div class="panel-body col-md-12">
                        <h4 class="panel-title" style="color: #0277bd;">3. Fried Chicken</h4>
                        <div class="row col-md-12">
                            SAME AS ABOVE
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header tile-recipe-bg">
                    <h4 class="panel-title" style="text-align: center;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="color: #0277bd;" >Day 2
                            <i class="fas fa-caret-down" style="color:#0277bd;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body col-md-12">
                        SAME AS ABOVE
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header tile-recipe-bg">
                    <h4 class="panel-title" style="text-align: center;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="color: #0277bd;" >Day 3
                            <i class="fas fa-caret-down" style="color:#0277bd;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body col-md-12">
                        SAME AS ABOVE
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</body>
</html>
