<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    @*<div>
            <div class="carousel slide mx-auto" data-ride="carousel" style="padding-top: 4.5em;">
                <div class="carousel-item active">
                    <img src="~/images/foodary-banner.png" class="img-fluid" alt="">
                    <div class="carousel-caption">
                        <h1 style="font-size:2vw;">HELP INTERNATIONAL STUDENTS <br> HAVE FOOD</h1><br>
                    </div>
                </div>
            </div>
            <div class="bottom-line"></div>
            <div class="row my-3">
                <div class="col-md-4 py-1 tile-padding-8">
                    <div class="tile text-center home-tile">
                        <div>
                            <p class="home-tile-text">Food Spend</p>
                            <p>The average food spend per Australian is $4740 per year, or $91 per week.</p>
                            <a class="home-tile-more" href="~/Home/FoodSpend">More></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-1 tile-padding-8">
                    <div class="tile text-center home-tile">
                        <div>
                            <p class="home-tile-text">Find Food</p>
                            <p>Lots of food places in Melbourne provides free or cheaper meals.</p>
                            <a class="home-tile-more" href="~/Home/Map">More></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-1 tile-padding-8">
                    <div class="tile text-center">
                        <div>
                            <p class="home-tile-text"><br></p>
                            <p></p>
                            <a class="home-tile-more" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <section class="hero-section">
            <div class="hs-item set-bg" data-setbg="../../../images/cover2.jpg" />
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hs-text" stype="color:black">
                            <h2>Food security among international students</h2>
                            <p>
                                New international students are not familiar with food places and struggling with their study. Thus, they tend to skip their meals
                                <br /> We are here for helping you find free or cheap food nearby.
                            </p>
                            <a href="~/Home/Map" class="primary-btn">Find food</a>
                        </div>
                    </div>
                </div>
            </div>

        @*<div class="hs-item set-bg" data-setbg="../../../images/home_cover2.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hs-text">
                            <h2>Recipe studio</h2>
                            <p>
                                Less availability and higher price of their traditional foods lead international student choose cheaper and less nutritious food
                                <br /> We are here for helping you make food by yourself and save monney.
                            </p>
                            <a href="~/Home/Recipe" class="primary-btn">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="../../../images/foodary-banner.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hs-text">
                            <h2>Expense Studio</h2>
                            <p>
                                International students are not fully aware of the food expenditure before they come to Australia.
                                <br /> We are here for helping you manage your food expenditure.
                            </p>
                            <a href="#" class="primary-btn">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </section>

    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="/images/serv1.jpeg" alt="">
                        <a href="~/Home/FoodSpend">
                            <h3>FOOD SPEND</h3>
                        </a>
                        <p>
                            The average food spend per Australian is $4740 per year, or $91 per week.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="/images/serv2.jpg" alt="">
                        <a href="~/Home/Map">
                            <h3>FIND FOOD</h3>
                        </a>
                        <p>
                            Lots of food places in Melbourne provides free or cheaper meals.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="/images/serv3.jpeg" alt="">
                        <a href="~/Home/Recipe">
                            <h3>FIND RECIPE</h3>
                        </a>
                        <p>
                            There many simple and cheap recipes to help you save money, time and keep adequate nutrition.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>