<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" style="max-height:530px" data-setbg="../../../images/cover3.jpg" >
                <h2 class="slogan-btn">
                    Help International Students minimize Food Insecurity in Melbourne
                </h2>
            </div>
        </div>
    </section>
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="/images/serv1.jpeg" alt="">
                        <a href="~/Home/FoodSpend">
                            <h3>FOOD EXPENSE</h3>
                        </a>
                        <p style="min-height:60px">
                            Students should be aware of food expenses in Australia.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item" style="min-height:100px">
                        <img src="/images/serv2.jpg" alt="">
                        <a href="~/Home/Map">
                            <h3>FIND FOOD</h3>
                        </a>
                        <p style="min-height:60px">
                            Lots of food places in Melbourne provides free or cheaper meals.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item" style="min-height:100px">
                        <img src="/images/serv3.jpeg" alt="">
                        <a href="~/Home/Recipe">
                            <h3>FIND RECIPE</h3>
                        </a>
                        <p style="min-height:60px">
                            There many simple and cheap recipes to help you save money and time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>