<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>

    <section class="hero-section" style="margin-top:100px">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" style="max-height:530px" data-setbg="/images/back111.jpeg">
                <h2 class="slogan-btn">
                    Help international students with financial hardship access to food in Melbourne.
                    @*Help International Students access to food in Melbourne*@
                        </h2>
                    </div>
                </div>
            </section>
            <section class="services-section spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a href="~/Home/FoodSpend">
                                <div class="services-item">
                                    <img src="/images/serv1.jpeg" alt="">
                                    <h3>FOOD EXPENSE</h3>
                                    <p style="min-height:60px">
                                        We provide grocery average prices and some consumption tips in Australia.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a href="~/Home/Map">
                                <div class="services-item" style="min-height:100px">
                                    <img src="/images/service2.jpeg" alt="">
                                    <h3>FIND FOOD</h3>
                                    <p style="min-height:60px">
                                        Lots of food places in Melbourne provide free or cheaper meals.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a href="~/Home/FindRecipe">
                                <div class="services-item" style="min-height:100px">
                                    <img src="/images/serv3.jpeg" alt="">
                                    <h3>FIND RECIPE</h3>
                                    <p style="min-height:60px">
                                        There are many simple and cheap recipes to help you save money and time.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <a href="~/Home/FindRecipe">
                                <div class="services-item" style="min-height:100px">
                                    <img src="/images/budget-calculator.jpg" alt="">
                                    <h3>MEAL PLANNER</h3>
                                    <p style="min-height:60px">
                                        There are many simple and cheap recipes within your budget.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <script src="/js/jquery-3.3.1.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        </body>
        </html>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".nav-menu ul li").on("click", function () {
                    console.log('nooo');
                    console.log($(".nav-menu").find(".active"));
                    $(".nav-menu").find(".active").removeClass("active");
                    console.log($(this));
                    $(this).addClass("active");
                });
            });
        </script>
