@{
    ViewBag.Title = "Home Page";
}
<html>
    <head>

    </head>
    <body>
        <div class="header_section">
            <div class="banner_main">
                <h1 class="banner_title">Welcome to <b>Foodary</b>!</h1>
                <p class="banner_description">Find free meals and cheap food options in Melbourne!</p>
                <div class="col-4 offset-4 d-flex">
                    <input class="form-control" style="color:#999999; background-color: #e1f5fe; border-color: #0277bd; border-radius: 0" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text" style="background-color: #e1f5fe; border-color: #0277bd; border-radius: 0">
                            <a href="~/Home/About">GO!</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="header_right">
                @*<img src="~/images/result.png" class="banner_img" style="width:861px;height:786px;">*@
            </div>
        </div>
    </body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
