
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>password protection</title>
</head>
<body>
    <SCRIPT LANGUAGE="JavaScript">
        function password() {
            var testV = 1;
            var pass1 = prompt('Please enter password:', '');
            while (testV < 3) {
                if (!pass1)
                    history.go(-1);
                if (pass1 == "tp7") {
                    alert('correct');
                    break;
                }
                testV += 1;
                var pass1 =
                    prompt('Wrong,please enter again:');
            }
            if (pass1 != "password" & testV == 3)
                history.go(-1);
            return " ";
        }
        document.write(password());
    </SCRIPT>
</body>
</html>

<div class="header_section">
    <div class="header_left">

        <div class="banner_main">
            <h1 class="banner_taital">Welcome to <br>Foodary</h1>
            <p class="banner_text">We are here to help you with food insecurity. <br /> Find food now!</p>
            <div class="btn_main">
                <div class="more_bt"><a href="#">Find Food </a></div>
                <div class="contact_bt"><a href="#">Feedback</a></div>
            </div>
        </div>
    </div>
    <div class="header_right">
        <img src="~/images/result.png" class="banner_img" style="width:861px;height:786px;">
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>